{% extends 'base.html' %}
{% block content %}

<h1>Student Profile</h1>

<h3>{{ student.full_name }}</h3>
<!--Display lessons-->
<br/>
{% if student.lesson.count %}
  {% for lesson in student.lesson.all %}
    <!--Display lesson information-->
    <h4>{{ lesson.name }}</h4>
    <h5>Teacher: {{ lesson.teacher.full_name }} </h5>
    <h5>Time: {{ lesson.time }} </h5>
    <h5>Price: ${{ lesson.price }} </h5>
    <!--Cancel Lesson Link-->
    <a href="{% url 'cancel_booking' lesson.id %}">Cancel Lesson</a>
    <hr>
  {% endfor %}
{% else %}
  <h4>No Lessons</h4>
{% endif %}

{% endblock %}