{% extends 'base.html' %}
{% block content %}

<h1>Teacher Details</h1>
<h2>{{ teacher.full_name }}</h2>
<p>{{ teacher.bio }}</p>
<h3>{{ teacher.language }} Lessons</h3>
{% if lessons.count %}
  {% for lesson in lessons %}
  <p>{{lesson.name}} &nbsp;
    {% if user.is_authenticated %}
    <a href="{% url 'make_booking' lesson.id %}">
      <input type="submit" class="btn btn-danger" value="Book this class"></p> 
    </a>
    {% else %}
    <a href="{% url 'signup' %}">
      <input type="submit" class="btn btn-danger" value="Register to Book!"></p> 
    </a>
    {% endif %}
  {% endfor %}
{% else %}
  <h5>No Lessons Available</h5>
{% endif %}

{% endblock %}