{% extends 'base.html' %}
{% block content %}

<h1>Teacher Profile Page</h1>
<h2>{{ teacher.full_name }}</h2>
<p>Language: {{ teacher.language }}</p>
<p>Bio: {{ teacher.bio }}</p>

<!--Edit Public Profile Link-->
<a href="{% url 'teacher_edit' teacher.id %}">Edit Public Profile</a>
<br/>
<!--View Public Profile-->
<a href="{% url 'teacher_details' teacher.id %}">View Public Profile</a>
<hr>

<!--Display Students-->
<h3>Current Students</h3>
{% if students.0 != None %}
  <ul>
    {% for student in students %}
      <li>{{ student.full_name }}</li>
    {% endfor %}
  </ul>
{% else %}
  <h4>No Students</h4>
{% endif %}
<hr>

<!--Display Lessons-->


  <!--Booked Upcoming Lessons-->
  {% if lessons.count %}

    <table class ="table">
      <thead>  <h3>Booked Lessons</h3>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Time</th>
          <th scope="col">Price</th>
          <th scope="col">Booked by</th>
        </tr>
      </thead>
      <tbody>
        {% for lesson in lessons %}
          {% if lesson.student_set.count != 0 %}
            <tr>
              <th scope ="row">{{lesson.name}}</th>
              <td>{{lesson.time}}</td>
              <td>{{lesson.price}}</td>
              <td>Student: {{ lesson.student_set.first.full_name }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <hr>
    {% else %}
    <h4>No Lessons Have Been Booked</h4>
  {% endif %}
  

    <!--Unbooked lessons-->
{% if unbooked_lessons %}
  <table class ="table">
    <thead><h3>Lessons not yet booked</h3>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Time</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
  {% for lesson in unbooked_lessons %}
    <tr>
      <th scope ="row">{{lesson.name}}</th>
      <td>{{lesson.time}}</td>
      <td>{{lesson.price}}</td>
      <td><a href="{% url 'delete_lesson' lesson.id %}">Delete Lesson</a></td>
    </tr>
  {% endfor %}
</tbody>
</table>
      

{% else %}
  <h4>No Unbooked Lessons Exist</h4>
{% endif %}

{% endblock %}