{% extends 'base.html' %}
{% block content %}

<h1>Teacher Profile Page</h1>
<h2>{{ teacher.full_name }}</h2>
<p>Language: {{ teacher.language }}</p>
<p>Bio: {{ teacher.bio }}</p>

<!--Edit Public Profile Link-->
<a href="{% url 'teacher_edit' teacher.id %}">Edit Public Profile</a>
<br/>
<!--View Public Profile-->
<a href="{% url 'teacher_details' teacher.id %}">View Public Profile</a>
<hr>

<!--Display Students-->
<h3>Current Students</h3>
{% if students.0 != None %}
  <ul>
    {% for student in students %}
      <li>{{ student.full_name }}</li>
    {% endfor %}
  </ul>
{% else %}
  <h4>No Students</h4>
{% endif %}
<hr>

<!--Display Lessons-->

{% if lessons.count %}
    <!--Booked Upcoming Lessons-->
    <h3>Booked Lessons</h3>
    {% for lesson in lessons %}
      {% if lesson.student_set.count != 0 %}
        <h4>Lesson name: {{ lesson.name }}</h4>
        <p>Student: {{ lesson.student_set.first.full_name }}</p>
    <!--Unbooked Lessons-->
      {% endif %}
    {% endfor %}

    <hr>

    <!--All Lessons-->
    <h3>All Lessons</h3>
    {% for lesson in lessons %}
      <h4>{{ lesson.name }}</h4>
      <ul>
        <li>${{ lesson.price }}</li>
        <li>{{ lesson.time }}</li>
      </ul>
      <!--Delete Lesson Link-->
      <a href="{% url 'delete_lesson' lesson.id %}">Delete Lesson</a>
    {% endfor %}
{% else %}
  <h4>No Lessons</h4>
{% endif %}

{% endblock %}