{% extends 'base.html' %}
{% block content %}

<h1>Sign Up</h1>

{% if error %}
  <h4 class="error-message">{{ error }}</h4>
{% endif %}

<form method="post" action="{% url 'signup' %}">
  {% csrf_token %}
  <!--Full Name-->
  <label for="full_name">Full Name</label>
  <input type="text" id="full_name" name="full_name">
  {{ form.as_p }}

  <br/>
  <input type="submit" class="btn btn-primary" name = "student" value="Sign Up as a Student">
  <input type="submit" class="btn btn-info" name = "teacher" value="Sign Up as a Teacher">

</form>

{% endblock %}