{% extends 'base.html' %}
{% block content %}

    <div class="jumbotron">
      <div class="container text-center">
        <h1><a href="{% url 'home' %}">Tutor Marketplace</a></h1>
      </div>
    </div>
    <!--TODO: fill out action and method-->
    <div>
      <form class="form-inline" action="#"> Search for Teachers by Language:
        <input type="email" class="form-control" size="50" placeholder="Email Address">
        <button type="button" class="btn btn-danger">Sign Up</button>
      </form>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">LANGUAGE</div>
          <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
              style="width:100%" alt="Image"></div>
          <div class="panel-footer">Find teachers!</div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}