{% extends 'base.html' %}
{% block content %}

    <div class="jumbotron">
      <div class="container text-center">
        <h1><a href="{% url 'home' %}">Tutor Marketplace</a></h1>
      </div>
    </div>
    <!--TODO: fill out action and method-->
    <div>
      <form class="form-group" action="#"> Search for Teachers by Language:
        <input type="text" class="form-control" size="50" placeholder="ex. English">
        <button type="button" class="btn btn-danger">Search</button>
      </form>
    </div>
    <!--Language and 3 random teachers-->
  
  <div class="container">
    {% for language in languages %}
    <h3>{{ language.name }}</h3>
    <div class="row">
      <!--Display 4 newest teachers in this language-->
      {% for teacher in language.teacher_set.all|slice:":4" %}
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">{{ teacher.full_name }}</div>
            <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                style="width:100%" alt="Image"></div>
            <div class="panel-footer">Book Now!</div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

{% endblock %}